body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.hero img {
  width: 100%;
  height: auto;
}

.cta {
  text-align: center;
  margin: 20px 0;
}

.cta h2 {
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.events, .weather, .spotlights {
  margin: 20px 0;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.contact, .development-info {
  margin: 20px 0;
}

#menu-icon {
  display: none;
  cursor: pointer;
}

