@media (max-width: 768px) {
  #menu {
    display: block;
  }

  .navigation {
    flex-direction: column;
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  main h2 {
    margin: 10px;
  }

  .card,
  .card2 {
    grid-column: 1;
    margin: 10px;
    width: 96%;
  }



  .maps {
    width: 100vw;
  }
}
